<div class="example-container mat-elevation-z8">
    <table mat-table [dataSource]="employeeInfo">
    
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef>First Name </th>
            <td mat-cell *matCellDef="let element" > {{element.firstName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="middleName">
            <th mat-header-cell *matHeaderCellDef>Middle Name </th>
            <td mat-cell *matCellDef="let element"> {{element.middleName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef>Last Name </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef>Email</th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>
    
        <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef> Salary</th>
            <td mat-cell  *matCellDef="let element"> {{element.salary}} </td>
        </ng-container>
    
        <ng-container matColumnDef="username">
            <th mat-header-cell *matHeaderCellDef>Username</th>
            <td mat-cell *matCellDef="let element"> {{element.username}} </td>
        </ng-container>
    
        <ng-container matColumnDef="employeeInfo">
            <th mat-header-cell *matHeaderCellDef> Employee Info </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
                <button mat-raised-button color="primary"
                    (click)="Edit(element)">Edit</button> 
                </td>
        </ng-container>

        <ng-container matColumnDef="transactions">
            <th mat-header-cell *matHeaderCellDef> Transactions </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
                <button mat-raised-button color="primary"
                    (click)="ApproveRequest(element)">Show</button> 
                </td>
        </ng-container>

        <ng-container matColumnDef="leaveRequests">
            <th mat-header-cell *matHeaderCellDef> Leave Requests </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
                <button mat-raised-button color="primary"
                    (click)="EmployeeleaveRequests(element)">Open</button> 
                </td>
        </ng-container>

        <ng-container matColumnDef="addLeaveRequest">
            <th mat-header-cell *matHeaderCellDef> Add Leave Requests </th>
            <td mat-cell *matCellDef="let element; let i = index"> 
                <button mat-raised-button color="primary"
                    (click)="AddLeaveRequest(element)">Add</button> 
                </td>
        </ng-container>

    
        <tr mat-header-row *matHeaderRowDef="displayedColumns sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    </div>