.topBar{
    width: 100%;
    height: 5%;
    top: 0;
    color: black;
}
.functionBar{
    width: 100%;
    height: 10%;
}
li  button{
    width: 90%;
    color:black;
    margin-top: 15%;
    font-size: large;
    padding-right: 40px;
}
ul{
    margin-top: 10%;
}
li{
    list-style: none;
    color: black;
}
li a{
    
    margin-right: 5%;
    font-size: x-large;
    margin-bottom: 15%;
    color: black;
    list-style-type: none;
 
}
.EmpInfoBox{

    width: 90%;
    height: 70%;
   
}

h2{
    margin-left: 7%;
}
.EmpInfo{
    width: 60%;
    float: right;
    margin-right: 8%;
}
.EmpInfo ul{
    margin-top: 5%;
}
.EmpInfo li{
    font-size: large;
    margin-bottom: 3%;
    color: black;
    list-style-type: none;
}
#sidebar {
    width: 20%;
    position: fixed;
    height: 100vh;
    background-color: rgb(135, 207, 216);

}
table {
    width: 100%;    

}

.example-container {

    overflow: auto;
    margin: 5%;
    width: 80%;
    margin-left: 5%;
}