<div *ngIf="hideComponent">
    <div class="menuBar">
        <div class="icon">
            <mat-icon [inline]="true">account_circle</mat-icon>
        </div>
        <div class="info">
            <h3> {{loginparameters.firstName}} {{loginparameters.middleName}}
                {{loginparameters.lastName}}</h3>
            <p> {{loginparameters.email}} </p>
            <p [matMenuTriggerFor]="more">More Actions</p>
            <mat-menu #more="matMenu" yPosition="below">
                <button (click)="editInfo()" mat-menu-item>Edit Info</button>
                <button (click)="openChangePassDialog(loginparameters.id)" mat-menu-item>Change Password</button>
            </mat-menu>
        </div>
        <div class="menu">
            <button mat-button (click)="employeeInfoMenu()">Employee Info</button>
            <button mat-button autofocus (click)="leaveRequestMenu()">Leave Request</button>

        </div>
    </div>
    <div *ngIf="employeeInfoFlag">
        <h5 class="employeeHeader">EMPLOYEE DETAILS</h5>
        <div class="employeeInfo">
            <div class="firstHalf">
                <table id="employee">
                    <tr>
                        <th>Full Name</th>
                        <td>{{loginparameters.firstName}} {{loginparameters.middleName}}
                            {{loginparameters.lastName}}</td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td>{{loginparameters.email}}</td>
                    </tr>
                    <tr>
                        <th>Salary</th>
                        <td>{{loginparameters.salary}}</td>
                    </tr>
                </table>
            </div>
            <div class="secondHalf">
                <table id="employee">
                    <tr>
                        <th>Username</th>
                        <td>{{loginparameters.username}}</td>
                    </tr>
                    <tr>
                        <th>Location</th>
                        <td>{{loginparameters.locationName}}</td>
                    </tr>
                    <tr>
                        <th>Project</th>
                        <td>{{loginparameters.projectName}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <h5 class="leaveBalanceHeader">LEAVE BALANCE DETAILS</h5>
        <div class="leaveBalanceInfo">
            <table id="leave">
                <tr *ngFor="let header of headers">
                    <th>
                        <span *ngIf="header != 'Id'">
                            {{header}}
                        </span>
                    </th>
                    <td *ngFor="let element of rowData ">
                        <span *ngIf="header != 'Id'">
                            {{element[header]}}
                        </span>
                    </td>
                </tr>

            </table>
        </div>
    </div>
    <div class="employeeFunc" *ngIf="leaveRequestFlag">
        <div class="container" (click)="openSubmitLeave(loginparameters.id)"> <br><br><br>
            <img src="https://www.careeraddict.com/uploads/article/58274/illustration-woman-writing-absence-letter.jpg"
                alt=""><br><br>
            <p>New Request</p>
        </div>
        <div class="container" (click)="getLeaveRequests()"><br><br><br>
            <img src="https://blog.data-basics.com/hs-fs/hubfs/Nonprofit-Leave-Management-Best-Practices.png?width=800&name=Nonprofit-Leave-Management-Best-Practices.png"
                alt=""><br><br>
            <p>Request Status</p>
        </div>
        <div class="container" (click)="transactionListing()"><br>
            <img src="https://www.atsi.in/images//inner/emp-payroll.png" alt="">
            <p>Transactions</p>
        </div>
        <div *ngIf="Type" class="container" (click)="allLeaveRequests()"><br><br>
            <img src=" https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSzWpJu4oFzReU-fDYC9AhuC1a0gUfdZBNDWtWgTl2r14KBXSV6&usqp=CAU"
                alt=""><br><br>
            <p>Employee Leave Requests</p>
        </div> 
    </div>