<!-- <div class="LoginDiv">
    <div class="firstHalf">
        <img src="https://www.atsi.in/images//inner/emp-payroll.png">
    </div>
    <div class="secondHalf">

        <div class="loginBox">
            <form [formGroup]="signInForm">

                <h2>Leave Management System</h2><br>
                <mat-label>Username</mat-label> <br>
                <input type="text" formControlName = "username"> <br> <br>

                <mat-label >Password</mat-label> <br>
                <input  type="password" formControlName = "password"> <br> <br>
            </form>

            <button (click)="login()"> Login</button> <br> <br>
            <a></a>
            <a (click)="confirmEmail()">Forgot Password</a> <br>
            <a (click)="newLogin()">New Login ?</a>

        </div>

    </div>

</div> -->