<div class="LoginDiv">
    <div class="firstHalf">
        <img src="https://www.atsi.in/images//inner/emp-payroll.png">
    </div>
    <div class="secondHalf">

        <div class="loginBox">
            <form [formGroup]="signInForm">

                <h1>Leave Management System</h1>
                <label>Username</label> <br>
                <input type="text" formControlName = "username"> <br> <br>

                <label>Password</label> <br>
                <input type="password" formControlName = "password" [(ngModel)]="password"> <br> <br>
            </form>

            <button (click)="login()"> Login</button> <br> <br>
            <a></a>
            <a (click)="confirmEmail()">Forgot Password</a> <br>
            <a (click)="newLogin()">New Login ?</a>

        </div>

    </div>

</div>