<div mat-dialog-content>
    <mat-form-field>
      <mat-label> Enter your employee id</mat-label>
      <input matInput [(ngModel)]="employeeId">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label> Username</mat-label>
      <input matInput [(ngModel)]="username">
    </mat-form-field>
</div>
<div mat-dialog-content>
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput [(ngModel)]="password">
    </mat-form-field>
</div>
<div *ngIf = "Error">
  <p style="color: red;"> employee id not valid </p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button  (click)="newLogin()" cdkFocusInitial>Add Login Details</button>
</div>