<div class="dialogBox" [formGroup]="leaveRequest">
  <mat-form-field hidden class="example-full-width">
    <mat-label>Employee Id</mat-label>
    <input matInput  placeholder="id" formControlName="empId" [(ngModel)]=data.empId>
  </mat-form-field><br>

  <mat-form-field class="example-full-width">
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="leaveStartDate" autocomplete="off"  formControlName=startDate>
    <mat-datepicker-toggle matSuffix [for]="leaveStartDate"></mat-datepicker-toggle>
    <mat-datepicker #leaveStartDate color="primary"></mat-datepicker>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="leaveEndDate" autocomplete="off"  formControlName=endDate>
    <mat-datepicker-toggle matSuffix [for]="leaveEndDate"></mat-datepicker-toggle>
    <mat-datepicker #leaveEndDate color="primary"></mat-datepicker>
  </mat-form-field>
  

  <mat-form-field>
    <mat-label>Leave Type</mat-label>
    <mat-select formControlName="leave">
      <mat-option *ngFor="let type of leave" [value]="type.id">
        {{type.leaveName}}
      </mat-option>
    </mat-select>
  </mat-form-field> <br>

  <mat-form-field class="example-full-width">
    <mat-label>Reason</mat-label>
    <textarea matInput  formControlName=reason></textarea>
  </mat-form-field><br>


  <button mat-button [disabled]="!leaveRequest.valid" (click)="submitLeave()">Save Changes</button>
  <button mat-button (click)="onNoClick()"> Cancel</button>

</div>