
<!-- <div class="submitBox">
        <form [formGroup]="leaveRequest">
        
            <label >Employee Id</label>
            <input type="number" class="form-control" formControlName = "empId" placeholder="enter your id">
        
          <label >Start Date</label>
          <input type="date" class="form-control" formControlName= "startDate" placeholder="enter start date">
        
          <label >End Date</label>
          <input type="date" class="form-control" formControlName = "endDate" placeholder="enter end date">
        
          <label >Leave Type</label><br>
          <select formControlName = "leaveId"> 
            <option value=1>Casual Leave</option>
            <option value=2>Sick Leave</option>
            <option value=3>Others</option>
         </select> <br><br>
       
            <label >Reason</label>
            <textarea type="text" class="form-control" formControlName = "reason" placeholder="enter reason"> </textarea>
         
      </form>
        <button class="btn btn-primary" (click)= "SubmitLeave()" >Submit</button>

</div>

<div *ngIf = "returnData" class="dialogBox">
  <h5> Leave Request Submitted Successfully</h5>
</div> -->
<div class="dialogBox"  [formGroup]="leaveRequest">
  <mat-form-field class="example-full-width">
      <mat-label>Employee id</mat-label>
      <input  matInput placeholder="id" formControlName ="empId">
  </mat-form-field><br>

  <mat-form-field  class="example-full-width">
      <mat-label>Start Date</mat-label>
      <input type="date" matInput placeholder="type id" formControlName =startDate>
  </mat-form-field><br>

  <mat-form-field class="example-full-width">
      <mat-label>End Date</mat-label>
      <input type="date" matInput placeholder="firstName" formControlName =endDate>
  </mat-form-field><br>

  <!-- <mat-form-field class="example-full-width">
    <mat-label>Leave Type</mat-label>
    <select matInput placeholder="leavetype" [(ngModel)]="data.leaveId" >
      <option value=1>Casual Leave</option>
      <option value=2>Sick Leave</option>
      <option value=3>Others</option>
    </select>
 </mat-form-field><br> -->
 <mat-form-field class="example-full-width"> 
    <mat-label>Leave Type</mat-label>
      <select matNativeControl formControlName =leaveId>
        <option value=1>Casual leave</option>
        <option value=2>Sick Leave</option>
        <option value=3>Other</option>
      </select>
</mat-form-field><br>

  <mat-form-field class="example-full-width">
      <mat-label>Reason</mat-label>
      <textarea matInput placeholder="middleName" formControlName =reason ></textarea>
  </mat-form-field><br>
  

  <button mat-button (click)="SubmitLeave()">Save Changes</button>
  <button mat-button (click)="onNoClick()"> Cancel</button>
  <!-- <div *ngIf = "returnData" >
      <h5> Employee details submitted Successfully</h5>
  </div> -->
</div>
