table{
    width: 100%;
}
.example-container {
    height: 90%;
    width: 90%;
    overflow: auto;
    margin-left: 5%;
    margin-top: 2%;

  }
  button{
      margin-left: 5%;
      margin: 3%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 90%;
    margin-top: 3%;
    margin-left: 3%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }
  