<div>
    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" maxlength="10" minlength="6" required placeholder="minimum length 6, maximum 10" [(ngModel)]="password1" >
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <mat-label>Re enter Password</mat-label>
        <input matInput type="password"  maxlength="10" minlength="6" required placeholder="minimum length 6, maximum 10" [(ngModel)]="password2">
    </mat-form-field><br>
    <div *ngIf="incorrectPassword" style="margin-left: 7%;">  <p style="font-size:small; color: grey;">*Password must contain Uppercase, Lowercase, Numbers and Special characters, password length 6-10 </p>
  </div>
    <button mat-button (click)="changePassword(password1,password2)" >Change Password</button>
    <button mat-button (click)="onNoClick()"> Cancel</button>
</div>