<div>
    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" maxlength="10" minlength="6" required placeholder="minimum length 6, maximum 10" [(ngModel)]="data.passwordOne" >
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <mat-label>Re enter Password</mat-label>
        <input matInput type="password"  maxlength="10" minlength="6" required placeholder="minimum length 6, maximum 10" [(ngModel)]="data.passwordTwo">
    </mat-form-field><br>

    <button mat-button [mat-dialog-close]="data" >Change Password</button>
    <button mat-button (click)="onNoClick()"> Cancel</button>
</div>