<div>
    <mat-form-field class="example-full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" placeholder="new password" [(ngModel)]="data.password1" >
    </mat-form-field><br>
    <mat-form-field class="example-full-width">
        <mat-label>Re enter Password</mat-label>
        <input matInput type="password" placeholder="re enter password" [(ngModel)]="data.password2">
    </mat-form-field><br>

    <button mat-button [mat-dialog-close]="data" >Change Password</button>
    <button mat-button (click)="onNoClick()"> Cancel</button>
</div>